

<!DOCTYPE html>
{% autoescape true %}
<html>
    <body>
        <h2 >{{stream_name}}</h2>
    

        {%if(status==(1,1))%}
        <form action="delpic" method="post">
            <table border="1" style="width:100%">
            {%for info in infos%}
                {%if(info[2]==0)%}
                    <tr>
                {%endif%}
                <td><img src="img?img_id={{info[0]}}"></img><input type="checkbox" name="status", value="{{info[1]}}"></td>
                {%if(info[2]==3)%}
                    </tr>
                {%endif%}
            
            {%endfor%}
            </table>
            <input type="submit" value="Delete Selected">
        </form>
        <a href="{{url}}">Go Back</a>
        {%else%}
        <table border="1" style="width:100%">
        {%for info in infos%}
            {%if(info[2]==0)%}
                <tr>
            {%endif%}
            <td><img src="img?img_id={{info[0]}}"></img></td>
            {%if(info[2]==3)%}
                </tr>
            {%endif%}          
        {%endfor%}
        </table>
            {%if(status==(1,0))%}
                <form action="subscribe" method="post"><input type="submit" value="Subscribe"></form>                
            {%endif%}
        <a href="/management">Go Back</a>
        {%endif%}
    
    </body>
</html>
{% endautoescape %}