

<!DOCTYPE html>
{% autoescape true %}
<html>
    <body>
        <h2 >{{stream_name}}</h2>
    
        {%index=0%}
        {%if(users.get_current_user() and stream.author==users.get_current_user())%}
        <form action="delpic" method="post">
            <table border="1" style="width:100%">
            {%for picture in pictures%}
                {%if(index==0)%}
                    <tr>
                {%endif%}
                <td><img src="img?img_id={{picture.key()}}"></img><input type="checkbox" name="status", value="{{picture.id}}"></td>
                {%if(index==3)%}
                    </tr>
                {%endif%}
                {%index=index+1%}            
            {%endfor%}
            </table>
            <input type="submit" value="Delete Selected"></form>
            <a href="{{url}}">Go Back</a>
        {%else%}
        <table border="1" style="width:100%">
        %for picture in pictures%}
            {%if(index==0)%}
                <tr>
            {%endif%}
            <td><img src="img?img_id=%s"></img></td>
            {%if(index==3)%}
                </tr>
            {%endif%}
            {%index=index+1%}            
        {%endfor%}
        </table>
            {%if(users.get_current_user())%}
                <form action="subscribe" method="post"><input type="submit" value="Subscribe"></form>                
            {%endif%}
            <a href="/management">Go Back</a>
        {%endif%}
    
    </body>
</html>
{% endautoescape %}